/* Set variables */
:root {
  /* Colors */
  --main-color: #1F2937;
  --accent-color: #3882F6;
  --main-text-color: #F9FAF8;
  --secondary-text-color: #E5E7EB;
  --placeholder-color: #6C747D;

  /* Fonts */
  --font: 'Roboto', sans-serif;
}

/* Reset spacing, specify font and general styles */
html, body, *, *::before, *::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: var(--font);
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  flex: none;
  max-width: 150px;
  background-color: var(--accent-color);
  border: 0;
  border-radius: 10px;
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  color: var(--main-text-color);
}

.section {
  max-width: 1050px;
  margin: 0 auto;
  padding: 25px;
}

/* Header */
.section__header {
  background-color: var(--main-color);
}

.section__header--container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.section__header--logo {
  margin-right: auto;
  font-size: 24px;
  font-weight: bolder;
  color: var(--main-text-color);
}

.section__header--nav {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  font-size: 18px;
  color: var(--secondary-text-color);
}

/* Hero section */
.section__hero {
  background-color: var(--main-color);
}

.section__hero--container {
  padding: 125px 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.section__hero--text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__hero--text-main {
  font-size: 48px;
  font-weight: bolder;
  color: var(--main-text-color);
}

.section__hero--text-secondary {
  font-size: 18px;
  color: var(--secondary-text-color);
}

.section__hero--image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  padding: 10px;
  background-color: var(--placeholder-color);
  color: var(--secondary-text-color)
}

@media screen and (max-width: 640px) {
  .section__hero--container {
    flex-direction: column;
  }
}

/* Info section */
.section__info--container {
  padding: 50px 25px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.section__info--heading {
  font-size: 36px;
  font-weight: bolder;
  color: var(--main-color);
}

.section__info--items {
  display: flex;
  gap: 30px;
  max-width: 800px;
  text-align: center;
}

.section__info--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.section__info--item img {
  width: 150px;
  height: 150px;
  border: 3px solid var(--accent-color);
  border-radius: 10px;
}

.section__info--item p {
  color: var(--placeholder-color);
}

@media screen and (max-width: 640px) {
  .section__info--items {
    flex-direction: column;
    gap: 75px;
  }
}

/* Quote section */


/* CTA section */


/* Footer */
.section__footer {
  text-align: center;
  background-color: var(--main-color);
  color: var(--secondary-text-color);
}

.section__footer--container {
  padding: 40px 25px;
}